<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AHello.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E45738021EC15D0C00FD6F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E457381B1EC15D0C00FD6F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E45738261EC15D0C00FD6F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
